<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <title>Mathematician Checker!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'home.css' %}" rel="stylesheet">

</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" style="margin-right:50px;">
            <img src="/media/logo.png">
            <span class="fs-4">Mathematician Check</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="" class="nav-link active" aria-current="page" style="margin: 40px; margin-bottom:0;">Home</a></li>

          </ul>
        </header>
      </div>

      <div class="container text-center" style="margin-bottom: 50px;">
        <h1 style="margin-bottom: 30px;">Check your Math's knowledge!</h1>
        <figcaption class="blockquote-footer" style='font-size:1.3em;'>
            Are you a pro <cite title="Source Title">at Maths??</cite>
          </figcaption>
        {% comment %} <nav class="nav nav-pills nav-fill">
          <a class="nav-link active" aria-current="page" href="/covid/xray">Basic</a>
          <a class="nav-link" href="/covid/symptoms">Advanced</a>
        </nav> {% endcomment %}
      </div>
      <main class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <div class="img">
              <img src="/media/algebra.png" class="card-img-top" alt="Basic Algebra test"></div>
              <div class="card-body">
                <h5 class="card-title">Basic Algebra (for beginners)</h5>
                <p class="card-text"><b>Beginner Level</b></p>
                <div class="text-center">
                  <a href='/quiz/algebra-basics/' class="btn btn-secondary">Take Test</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="img">
              <img src="/media/algebra-advanced.png" class="card-img-top" alt="Advanced Algebra Test"></div>
              <div class="card-body">
                <h5 class="card-title">Advanced Algebra (High difficulty) </h5>
                <p class="card-text"><b>Advanced level</b></p>
                <div class="text-center">
                  <a href='/quiz/algebra-advanced/' class="btn btn-secondary">Take Test</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card"><div class="img">
              <img src="/media/stat-basic.png" class="card-img-top" alt="Statistics basics test"></div>
              <div class="card-body">
                <h5 class="card-title">Basic Statistics (low difficulty)</h5>
                <p class="card-text"><b>(for beginners)</b></p>
                <div class="text-center">
                  <a href='/quiz/basic-statistics/' class="btn btn-secondary">Take Test</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card"><div class="img">
              <img src="/media/stat-advanced.png" class="card-img-top" alt="Advanced statistics Test"></div>
              <div class="card-body">
                <h5 class="card-title">Advanced statistics (high difficulty)</h5>
                <p class="card-text"><b>Advanced level</b></p>
                <div class="text-center">
                  <a href='/quiz/advanced-statistics/' class="btn btn-secondary">Take Test</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div class="text-center">
        <figure>
          <blockquote class="blockquote">
            <h2>More Quizes are coming soon!</h2>
          </blockquote>
          <figcaption class="blockquote-footer">
            These includes quizes of <cite title="Source Title">Geomatry, Sets, Metrices.....</cite>
          </figcaption>
        </figure>
      </div>

  
      
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>