
body {
    font-family:'Times New Roman', Times, serif
}

label {
    font-weight: normal;
}

label,input {
    margin:5px;
}

.btn {
    width:150px;
    height:60px;
    font-size: 25px;
    font-style:italic;
}

.card-header {
    background-color: #a5a5a5;
}

.form-check {
    background-color: #e1e1e1;
}

h1 {
    margin: 50px;
    box-shadow: #7e7e7e 1px 1px 5px;
    padding: 30px;
    background-color: #cecdcd;
}

h5 {
    font-size: 1.4rem;
}
